p, h1, h2, h3, h4, h5, h6, button, span {
    font-family: 'Courier New', Courier, monospace;
    color: #6b0863;
}

.nav-bar, body, .dropdown-content {
    background-color: #E7EFC5;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
display: none;
position: absolute;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 20px;
z-index: 1;
left: 50%;
transform: translateX(-50%);
}
  
.dropdown:hover .dropdown-content {
display: block;
}

.dropdown-content ul {
    list-style-type: none;
    text-align: justify;
}

.dropdown-content li {
    margin-bottom: 10px;
}

body {
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px 0;
    box-shadow: 0px 5px 30px 0px rgba(56,56,56,0.5);
    display: flex;
    justify-content: space-around;
}

.nav-bar {
    font-size: 16px;
    text-align: center;
}

a {
    color: #6b0863;
    text-decoration: none;
}

.profile {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    padding-top: 60px;
    gap: 80px;
}

.profile h1 {
    font-size: 50px;
    font-weight: 700;
    color: #33032F;
}

.profile h1, .profile h2 {
    margin: 0;
}

.profile img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;        
    padding: 20px;
}

/* Sections */

.profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.sections {
    height: 200px;
    padding: 20px 50px;
    text-align: justify;
}

