<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
    {%block head%}
    {%endblock%}
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">Home</a>
        </div>
        <div class="nav-content">
            <a href="/experience">Experience</a>
        </div>
        <div class="nav-content">
            <a href="/hobbies">Hobbies</a>
        </div>
        <div class="dropdown">
            <span>Menu</span>
            <div class="dropdown-content">
              <ul>
                <li><a href="/#about-me">About Me</a></li>
                <li><a href="/experience">Experience</a></li>
                <li><a href="/hobbies">Hobbies</a></li>
                <li><a href="/hobbies">Education</a></li>
              </ul>
            </div>
          </div>
    </header>
    {% block content %}
    <div class="profile">
        <div class="profile-element">
            <h2>Hi, my name is</h2>
            <h1>{{ title }}</h1>
            <h3>I'm a Computer Science Engineer</h3>
        </div>
        <div class="profile-element">
            <div id="profile-picture" class="profile-picture">
                <img src="./static/img/xime2024.jpg">
            </div>
        </div>
    </div>
    <div class="sections" id="about-me">
        <h1>About me</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quibusdam quis incidunt maxime dolore? Omnis voluptatibus aspernatur, tempora quidem at laboriosam consequatur libero assumenda tempore est culpa eius excepturi sed?
        Dignissimos magnam dolorum vero natus nemo minima quas veritatis, repellat nostrum quia sit nisi culpa minus asperiores repellendus dolor. Distinctio neque tempore nihil quos in veniam repellendus magni commodi! Nostrum!
        Earum laboriosam mollitia ab recusandae delectus ad exercitationem aut quod totam eum. Voluptas praesentium quisquam dolor odit officia, aut saepe distinctio eaque totam, in, repudiandae nemo dolorem incidunt perspiciatis itaque?</p>
    </div>
    {% endblock %}
</body>
</html>
