<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/computer-science.ico' type='image/x-icon' />
    <title>{{ title }}</title>
    {%block head%}
    {%endblock%}
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">Home</a>
        </div>
        <div class="nav-content">
            <a href="/experience">Experience</a>
        </div>
        <div class="nav-content">
            <a href="/hobbies">Hobbies</a>
        </div>
        <div class="dropdown">
            <span>Menu</span>
            <div class="dropdown-content">
              <ul>
                <li><a href="/#about-me">About Me</a></li>
                <li><a href="/experience">Experience</a></li>
                <li><a href="/hobbies">Hobbies</a></li>
                <li><a href="/experience#education">Education</a></li>
                <li><a href="/timeline">Posts</a></li>
              </ul>
            </div>
          </div>
    </header>
    {% block content %}
    <div class="profile">
        <div class="profile-element">
            <h2>Hi, my name is</h2>
            <h1>{{ title }}</h1>
            <h3>I'm a Computer Science Engineer
                <br>and a videogames fanatic
            </h3>
        </div>
        <div class="profile-element">
            <div id="profile-picture" class="profile-picture">
                <img src="./static/img/xime2024.jpg">
            </div>
        </div>
    </div>
    <div class="sections" id="about-me">
        <h1>About me</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quibusdam quis incidunt maxime dolore? Omnis voluptatibus aspernatur, tempora quidem at laboriosam consequatur libero assumenda tempore est culpa eius excepturi sed?
        Dignissimos magnam dolorum vero natus nemo minima quas veritatis, repellat nostrum quia sit nisi culpa minus asperiores repellendus dolor. Distinctio neque tempore nihil quos in veniam repellendus magni commodi! Nostrum!
        Earum laboriosam mollitia ab recusandae delectus ad exercitationem aut quod totam eum. Voluptas praesentium quisquam dolor odit officia, aut saepe distinctio eaque totam, in, repudiandae nemo dolorem incidunt perspiciatis itaque?</p>
    </div>
    <div class="sections" id="map">
        <h1>My travels</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste eligendi magni ad sed amet consectetur excepturi? Cum, quisquam soluta similique, dolore saepe amet nemo, reiciendis accusantium debitis unde ratione facere?</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100939.99657287169!2d-122.52017375744326!3d37.757806918803105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan%20Francisco%2C%20California%2C%20EE.%20UU.!5e0!3m2!1ses-419!2smx!4v1719279245988!5m2!1ses-419!2smx" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    {% endblock %}
</body>
</html>
